#!/bin/bash

/usr/bin/certbot certonly --manual --preferred-challenges=dns --manual-auth-hook /etc/authenticator.sh --manual-cleanup-hook /etc/cleanup.sh -d {{ domain }} --agree-tos --register-unsafely-without-email